<label for="<%= field_name %>"><%= field_name.split("_").map { |el| el.capitalize }.join(" ") %></label>
<input id="<%= field_name %>" type="text" name="app[<%= field_name %>]" value="<%= field_value %>">
<%= render "shared/errors", errors: errors[field_name] if errors %>
