<form action="<%= apps_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="first-name">First Name</label>
  <input id="first-name" type="text" name="app[first_name]" value="<%= @app.first_name %>">

  <label for="last-name">Last Name</label>
  <input id="last-name" type="text" name="app[last_name]" value="<%= @app.last_name %>">

  <label for="email">Email</label>
  <input id="email" type="text" name="app[email]" value="<%= @app.email %>">

  <input type="submit" value="Submit Application">
</form>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
