<% errors = flash[:errors] %>

<form action="<%= apps_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <% ["first_name", "last_name", "email"].each do |field_name| %>
    <%= render "apps/input", field_name: field_name, field_value: @app[field_name], errors: errors %>
  <% end %>

  <% Question.all.each do |question| %>
    <h3><%= question.body %></h3>
    <input type="hidden" name="app[responses_attributes][][question_id]" value="<%= question.id %>">
    <textarea name="app[responses_attributes][][body]"><%=
      @app.responses.find_by(question_id: question.id)&.body
    %></textarea>
  <% end %>

  <input type="submit" value="Submit Application">
</form>
